body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.maincont{
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    height: 960px;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
#buttonno{
    width: 150px;
    height: 50px;
    background-color: bisque;
    color: black;
    font-size: 16px;
    border-radius: 10px;
}